/*
 * Author: Ha Huy Nghia Hiep
 * Date: October 25, 2024 
 */

 .chart-container {
    width: 75%;
    margin: auto;
    text-align: center;
}

.chart-back-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    max-width: 50%;
    background-color: #2cc650;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.chart-back-button:hover {
    background-color: #218838;
}

.chart-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
}